<div class="auth-container">
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="form-control">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Digite o seu nome" required>
        </div>
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Digite o seu email" required>
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a sua senha" required>
        </div>

        <div class="form-control">
             <input type="submit" value="Register" class="btn">
           <p>JA tem uma conta? <a href="/login">Clique aqui</a></p>
   
        </div>
        </div>

        </form>
</div>